<div>
<header id="js-header">
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt="" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-right-side">
      <li class="nav-item">
        <a class="nav-link" href="#">How it Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Purchase</a>
      </li>
      <li *ngIf="userService.isLoggedIn() === false" class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#signIN">Sign In</a>
      </li>
      <li *ngIf="userService.isLoggedIn() === false" class="nav-item sign-up">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#signUP">Join</a>
      </li>
      <li *ngIf="userService.isLoggedIn() === true" class="nav-item">
        <a class="nav-link" [routerLink]="['/account']">Account</a>
      </li>
      <li *ngIf="userService.isLoggedIn() === true" class="nav-item sign-up">
        <a class="nav-link" [routerLink]="['/logout']">Logout</a>
      </li>
    </ul>
  </div>
</nav>
</div>
</header>
<router-outlet></router-outlet>
<footer>
<div class="container">
<div class="row">
<div class="col-md-3">
<h3>Categories</h3>
<ul>
<li><a href="#">Web</a></li>
<li><a href="#">Mobile</a></li>
<li><a href="#">Design</a></li>
</ul>
</div>
<div class="col-md-3">
<h3>Support</h3>
<ul>
<li><a href="#">Contact Us</a></li>
<li><a href="#">About Us</a></li>
<li><a href="#">Help</a></li>
</ul>
</div>
<div class="col-md-3">
<h3>About</h3>
<ul>
<li><a href="#">Press</a></li>
<li><a href="#">News</a></li>
<li><a href="#">How it Works</a></li>
</ul>
</div>
<div class="col-md-3 social-media">
<h3>Social Media</h3>
<a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
<a href="#" class="twitter"><i class="fab fa-twitter-square"></i></a>
<a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
<a href="#" class="google"><i class="fab fa-twitter-square"></i></a>
</div>
</div>
</div>
<div class="bottom-footer">
<div class="container">
<div class="left-F"><a href="#"><img src="./assets/images/footer-logo.png" alt="" /></a></div>
<div class="right-F"><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a><br />
Copyright © 2018 , <a href="#">codeshipp.com</a></div>
</div>
</div>
</footer>

