<div class="main-banner">
        <div class="overlay">
        <div class="search-area">
        <h1>Heading Text Goes To Here</h1>
        <h6>Heading Text Goes To Here</h6>
        <input type="text" alt="" placeholder="What service are you looking for ?" />
        <div class="dropdown" style="display:inline-block;">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Web</a>
            <a class="dropdown-item" href="#">Mobile</a>
            <a class="dropdown-item" href="#">Desktop</a>
          </div>
        </div>
        <button class="submit">Search</button>
        </div>
        <div class="rounds"><i class="fas fa-angle-down"></i></div>
        </div>
        </div>
  
        <div class="mid-area">
        <h1>Heading Text Goes To Here</h1>
        <h6>Sub Text Goes To Here</h6>
        <div class="container mid-three-box">
        <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box1">
        <i class="fas fa-globe"></i>
        <small>WEB</small>
        <button>Learn More</button>
        <h6>Logo Design, Business Cards,<br />
        Illustration, Web Graphics</h6>
        </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box1">
        <i class="fas fa-mobile-alt"></i>
        <small>MOBILE</small>
        <button>Learn More</button>
        <h6>Logo Design, Business Cards,<br />
        Illustration, Web Graphics</h6>
        </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="box1">
        <i class="fas fa-desktop"></i>
        <small>DESKTOP</small>
        <button>Learn More</button>
        <h6>Logo Design, Business Cards,<br />
        Illustration, Web Graphics</h6>
        </div>
        </div>
        </div>
        </div>
        <div class="how-it-works">
        <div class="container">
        <div>
        <h1>How it Works</h1>
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br /> 
        Optio, perspiciatis eligendi doloremque.</h6>
        <div class="row pad-T50">
        <div class="col-md-6">
        <img src="./assets/images/how-img.jpg" alt="" />
        </div>
        <div class="col-md-6">
        <ul class="howwork">
        <li><span>1</span> or sit amet, consectetur adipisicing elit.</li>
        <li><span>2</span> or sit amet, consectetur adipisicing elit.</li>
        <li><span>3</span> or sit amet, consectetur adipisicing elit.</li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div>
        <div class="container">
        <div>
        <h1>Counter Works</h1>
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br /> 
        Optio, perspiciatis eligendi doloremque.</h6>
        <div class="col-md-10 row centerr count Wrapper-counter">
        <div class="col-md-4">
        <i class="fas fa-users"></i>
        <h4 class="counter">150</h4>
        <img src="./assets/images/sep.png" alt="" />
        <h5 class="count">Freelancers</h5>
        </div>
        <div class="col-md-4">
        <i class="far fa-credit-card"></i>
        <h4 class="counter">10</h4>
        <img src="./assets/images/sep.png" alt="" />
        <h5>Purchase</h5>
        </div>
        <div class="col-md-4">
        <i class="far fa-edit"></i>
        <h4 class="counter">120</h4>
        <img src="./assets/images/sep.png" alt="" />
        <h5>Projects</h5>
        
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <app-login></app-login>
        <app-signup></app-signup>