<!-- Modal SIGN IN -->
<div id="signIN" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title center-login-bar">Login to Codeshipp</h4>
      </div>
      <div class="modal-body login-form">
        <form
          class="login-form"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit(loginForm.value)"
        >
          <div
            class="form-group row"
            [ngClass]="{ 'has-danger': !isValid('username') }"
          >
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-user"></i>
                </span>
                <input
                  class="username-field form-control"
                  type="text"
                  placeholder="Username"
                  [formControl]="loginForm.controls['username']"
                  [ngClass]="{ 'form-control-danger': !isValid('username') }"
                />
              </div>
              <span
                class="username-help-block help-block help-block-error"
                *ngIf="!formErrors.username.valid"
                >{{ formErrors.username.message }}</span
              >
            </div>
          </div>
          <div
            class="form-group row"
            [ngClass]="{ 'has-danger': !isValid('password') }"
          >
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="icon-lock"></i>
                </span>
                <input
                  class="password-field form-control"
                  type="password"
                  placeholder="Password"
                  [formControl]="loginForm.controls['password']"
                  [ngClass]="{ 'form-control-danger': !isValid('password') }"
                />
              </div>
              <span
                class="password-help-block help-block help-block-error"
                *ngIf="!formErrors.password.valid"
                >{{ formErrors.password.message }}</span
              >
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="checkbox"
                  name="remember"
                />
                <span>Remember me</span>
              </label>
            </div>
            <div class="col-6 text-right">
              <a
                [routerLink]="['/password-reset-request']"
                class="btn btn-link px-0"
                >Forgot password?</a
              >
            </div>
            <div *ngIf="errorMessage" class="col-12 error-block mt-2">
              <div class="alert alert-danger">{{ errorMessage }}</div>
            </div>
          </div>
          <button
            type="submit"
            class="login-btn btn btn-primary px-2"
            [disabled]="!loginForm.valid || submitted == true"
          >
            Login
            <app-spinner *ngIf="submitted"></app-spinner>
          </button>
        </form>
        <!--
          <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
              <input type="text" placeholder="Email Address / Username" class="form-control" alt="" />
              <input type="password" placeholder="Password" class="form-control" alt="" />
              <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> <span>Remember me</span>
            </label>
            <label class="rightForgot"><span><a href="#">Forgot Password?</a></span></label>
          </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        -->
      </div>
      <div class="social">
        <p>or continue with</p>
        <div class="social-center">
          <a href="#" (click)="socialSignIn('facebook')"
            ><img src="./assets/images/facebook.jpg" alt=""
          /></a>
          <a href="#" (click)="socialSignIn('google')"
            ><img src="./assets/images/google.jpg" alt=""
          /></a>
          <a href="#" (click)="socialSignIn('linkedin')"
            ><img src="./assets/images/linkedin.jpg" alt=""
          /></a>
        </div>
      </div>
      <div class="modal-footer not-a-member">
        Not a member yet ? <a (click)="openSignup()">Join Us</a>
      </div>
    </div>
  </div>
</div>
<!--
  <div class="row justify-content-center mb-3">
      <div class="col-sm-12 text-sm-center">
          <img src="assets/img/ngx-bootstrap-logo.svg" width="50"/>
      </div>
  </div>
  <div class="row justify-content-center">
      <div class="col-md-8">
          <div class="card-group mb-0">
              <div class="card p-2">
                  <div class="card-body">
                      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                          <h1>Login</h1>
                          <p class="text-muted">Sign In to your account</p>

                          <div class="form-group row" [ngClass]="{'has-danger': !isValid('username')}">
                              <div class="col-md-12">
                                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                                      <input class="username-field form-control" type="text" placeholder="Username"
                                             [formControl]="loginForm.controls['username']"
                                             [ngClass]="{'form-control-danger': !isValid('username')}">
                                  </div>
                                  <span class="username-help-block help-block help-block-error"
                                        *ngIf="!formErrors.username.valid">{{formErrors.username.message}}</span>
                              </div>
                          </div>
                          <div class="form-group row" [ngClass]="{'has-danger': !isValid('password')}">
                              <div class="col-md-12">
                                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="icon-lock"></i>
                    </span>
                                      <input class="password-field form-control" type="password"
                                             placeholder="Password"
                                             [formControl]="loginForm.controls['password']"
                                             [ngClass]="{'form-control-danger': !isValid('password')}">
                                  </div>
                                  <span class="password-help-block help-block help-block-error"
                                        *ngIf="!formErrors.password.valid">{{formErrors.password.message}}</span>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-6">
                                  <button type="submit" class="login-btn btn btn-primary px-2"
                                          [disabled]="!loginForm.valid || submitted == true">Login
                                      <app-spinner *ngIf="submitted"></app-spinner>
                                  </button>

                              </div>
                              <div class="col-6 text-right">
                                  <a [routerLink]="['/password-reset-request']" class="btn btn-link px-0">Forgot
                                      password?</a>
                              </div>
                              <div *ngIf="errorMessage" class="col-12 error-block mt-2">
                                  <div class="alert alert-danger">{{errorMessage}}</div>
                              </div>

                          </div>
                      </form>
                  </div>
              </div>
              <div class="card text-white bg-primary" style="width:44%">
                  <div class="card-body text-center">
                      <div>
                          <h2>Sign up</h2>
                          <br/>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                              incididunt ut
                              labore et dolore
                              magna aliqua.</p>
                          <a [routerLink]="['/signup']" class="btn btn-primary active mt-1">Register Now!</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
-->
