<div class="dashboard-banner">
  <div class="overlay"><h1>Project</h1></div>
</div>

<div class="mid-area">
  <div class="col-md-9 row centerr count">
      <div *ngIf="msg !=''" class="alert alert-success"><strong>Success!</strong> {{ msg }}</div>
    <form [formGroup]="addProjectForm" (ngSubmit)="addProject()">
      <div class="two-inputs">
        <div class="upload"><img src="images/upload.jpg" /></div>
        <div class="upload">
          <input
            type="file"
            class="form-control-file"
            id="exampleFormControlFile1"
          />
        </div>
      </div>
      <input
        type="text"
        placeholder="Project Name"
        class="form-control full"
        formControlName="name"
        alt=""
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
      />
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">This field is required</div>
      </div>
      <div class="two-input">
        <input
          type="text"
          placeholder="Video Demo"
          class="form-control"
          formControlName="video"
          alt=""
        />
        <input
          type="text"
          placeholder="Demo Url"
          class="form-control left-zero"
          alt=""
          formControlName="url"
        />
      </div>
      <div class="two-input">
        <textarea
          type="text"
          placeholder="Description"
          class="form-control"
          alt=""
          formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
        ></textarea>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">
            This field is required
          </div>
        </div>
        <textarea
          type="text"
          placeholder="Technology Used"
          class="form-control left-zero"
          alt=""
          formControlName="technology"
          [ngClass]="{ 'is-invalid': submitted && f.technology.errors }"
        ></textarea>
        <div *ngIf="submitted && f.technology.errors" class="invalid-feedback">
          <div *ngIf="f.technology.errors.required">This field is required</div>
        </div>
      </div>
      <div class="two-inputs">
        <div class="left-in">
          <input
            type="text"
            placeholder="$200 Project price"
            class="form-control"
            alt=""
            formControlName="price"
            [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
          />
          <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
            <div *ngIf="f.price.errors.required">This field is required</div>
          </div>
          <input
            type="text"
            placeholder="$200 Installation charges"
            class="form-control left-zero"
            alt=""
            formControlName="installationCharges"
            [ngClass]="{
              'is-invalid': submitted && f.installationCharges.errors
            }"
          />
          <div
            *ngIf="submitted && f.installationCharges.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.installationCharges.errors.required">
              This field is required
            </div>
          </div>
        </div>
        <div class="left-in left-M18">
          <input
            type="text"
            placeholder="Support charges per hour"
            class="form-control"
            alt=""
            formControlName="supportPrice"
            [ngClass]="{ 'is-invalid': submitted && f.supportPrice.errors }"
          />
          <div
            *ngIf="submitted && f.supportPrice.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.supportPrice.errors.required">
              This field is required
            </div>
          </div>
          <select class="form-control">
            <option>Delivery Time</option>
            <option>Helllo 1</option>
            <option>Helllo 2</option>
            <option>Helllo 3</option>
          </select>
        </div>
      </div>
      <div class="two-inputs">
        <div class="upload">
          <div class="switch-Mar">
            <label class="switch">
              <input type="checkbox" checked />
              <span class="slider round"></span>
            </label>
            <br />
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            /><label class="form-check-label switch-a" for="exampleCheck1">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Submit for Verified Batch</label
            >
          </div>
        </div>
        <div class="upload chooseF">
          <input
            type="file"
            class="form-control-file"
            id="exampleFormControlFile1"
          />
        </div>
      </div>
      <button type="add" class="btn btn-success">Submit For Review</button>
    </form>
  </div>
</div>
