
<div class="dashboard-banner">
    <div class="overlay">
    <h1>Dashboard</h1>
    </div>
    </div>
    
    
    <div class="mid-area">
    <div class="dashboard-main-icons">
    <div class="icons-A1">
    <a href="#"><i class="fas fa-globe"></i></a><br />
    <small>WEB</small>
    </div>
    <div class="icons-A1">
    <a href="#"><i class="fas fa-mobile-alt"></i></a><br />
    <small>MOBILE</small>
    </div>
    <div class="icons-A1">
    <a href="#"><i class="fas fa-desktop"></i></a><br />
    <small>DESKTOP</small>
    </div>
    </div>
    <div class="col-md-9 row centerr count">
    <div class="profile-area pad-1">
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="profile-pic">
    <a href="#"><img src="images/pic.png" alt="" /></a>
    <p>Harpreet Singh</p>
    </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
    <div class="profile-text">
    <p>I'm Harpreet SIngh. Web UI/UX Designer/Front End Developer Based in (INDIA). I build and design clean, appealing and functional interfaces for the web that comply with the latest web W3C standards. </p>
    <p><strong>Address</strong>     :   #2145, Urbanestate Patiala (PUNJAB)</p>
    <p><strong>Country</strong>     :   INDIA</p>
    <button>EDIT</button>
    </div>
    </div>
    </div>
    </div>
    <div class="profile-texts">
    <h2>Fill out below form</h2>
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Your Skill Set</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Certification</a>
        </li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <h3>HOME</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <form action="">
        <div class="form-group">
          <select class="form-control" id="sel1" name="sellist1">
            <option>Country of college/university</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <select class="form-control marR" id="sel1" name="sellist1">
            <option>College/university name</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <select class="form-control" id="sel1" name="sellist1">
            <option>Title of Degree</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <select class="form-control marR" id="sel1" name="sellist1">
            <option>Years of Graduation</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <br>
          </div>
          <div class="button-area">
          <button type="cancel" class="cancel">Cancel</button>
          <button type="add" class="add">Add</button>
          </div>
      </form>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
          <form action="">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Certificate or award" name="email">
          <input type="email" class="form-control marR" id="email" placeholder="Certificate from ?" name="email">
          <select class="form-control" id="sel1" name="sellist1">
            <option>Year</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <select class="form-control marR" id="sel1" name="sellist1">
            <option>Experience</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <br>
          </div>
          <div class="button-area">
          <button type="cancel" class="cancel">Cancel</button>
          <button type="add" class="add">Add</button>
          </div>
      </form>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>