*{ margin:0px; padding:0px;}
h1,h2,h3,h4,h5,h6{margin:0px; padding:0px; width:100%;}
input , select { height:50px !important;}
body{margin:0px; padding:0px; line-height:20px;font-family: 'Raleway', sans-serif;}

/*
Header css start here ..........
*/

header{ border-bottom:1px solid #696670; display:inline-block !important; width:100%; position: fixed; top: 0; left: 0; z-index: 999; transition: all 0.8s; }
header.smaller { background: #2a2735; border-bottom:0px; }
.nav-right-side{ position:absolute; right:0px;}
.main-banner{ background:url(../images/main-banner.jpg) no-repeat center top; min-height:690px; background-size:cover; margin-top:-63px;}
.overlay{ background-color: rgba(42, 37, 57, 0.7); width:100%; min-height:690px;}
.navbar-light .navbar-nav .nav-link { color: #fff !important; }
.navbar-light .navbar-nav .nav-link:hover { color: #dedede !important; }
.sign-up{ background:#0bb758; border-radius: 4px;}
.navbar-light .navbar-nav li.nav-item{ padding:0px 5px; font-size: 14px; font-weight: 500;}
.search-area{ padding-top:300px; margin:auto; display:table;}
.search-area h1{ font-weight:bold; font-size:50px;}
.search-area h1 , .search-area h6{ color:#fff; text-align:center; }
.search-area input{ width: 65%; float:left; height: 50px; border-radius: 6px 0px 0px 6px; border: 0px; padding: 15px; margin-top:20px; font-size:15px;}
.search-area .dropdown:hover>.dropdown-menu { display: block; }
.search-area .dropdown>.dropdown-toggle:active { pointer-events: none; }
.search-area .btn-primary { color: #000; background-color: #fff; height: 50px; margin-top: 20px; border-radius: 0px; border:0px; border-left:1px dashed #000;}
.search-area .btn-primary:hover{ background:#e8e8e8; color:#000;}
.search-area button.submit{ background:#0bb758; border:0px; height:50px; padding:0px 25px; color: #fff; border-radius: 0px 6px 6px 0px; position: relative; top: 12px; font-weight:500; font-size:18px; cursor:pointer;}
.rounds{ width:80px; height:80px; border-radius:50px; background:#fff; text-align:center; line-height:60px; font-size:25px; position: relative; margin:auto; top: 190px;}
.dropdown-item{ font-size:14px;}
.center-login-bar{ text-align:center;}
.login-form form input{ margin-bottom:15px; font-size:14px; height:50px;}
.login-form form .btn-primary { color: #fff; background-color: #0bb758; width:100%; height:50px; margin-top: 20px; border-radius: 4px; border:0px;}
.form-check-label span{ position:relative; top:18px; font-size:14px;}
.rightForgot span a{ color:#000;}
.rightForgot{ float:right; padding-top:12px; font-size:14px;}
.social p{ text-align:center; color:#999; font-size:13px;}
.social img{ float:left; padding:0px 5px;}
.social-center{ margin:auto; display:table; padding-bottom:20px;}
.not-a-member{ justify-content:center !important; font-size:14px; color:#999;}
.not-a-member a{ color:#000;}
.not-a-member a:hover{ color:#000;}
.modal-header{ background:#dadada; padding:10px 0px; border-bottom:none !important;}
.dropdown-item:hover, .dropdown-item:focus { background-color: #c9c9cc !important; }


/*
Mid-section css start here ..........
*/


.mid-area{ padding:70px 0px 0px;}
.mid-area h1{ font-size:40px; color:#000000;}
.mid-area h6{ font-size:20px; color:#999; font-weight:normal;}
.mid-area h1 , .mid-area h6{ text-align:center;}
.mid-three-box { margin-top:50px;}
.box1{ border:1px solid #ebebeb; border-radius:4px;}
.box1 i{ font-size:100px; color:#585858; margin: auto; display: table; padding: 40px 0px 30px;}
.box1 small{margin: auto; display: table; padding:25px 50px 25px 50px; font-size:18px; border-top:1px solid #585858;}
.box1 button{ background:#0bb758; color:#fff; border:0px; padding:10px 20px; border-radius:4px; margin:auto; display:table;}
.box1 button:hover{ background:#05a24b; cursor:pointer; }
.box1 h6{ padding:20px 0px; font-size:18px; line-height:30px; }
.box1:hover{ background:#0bb758;}
.box1:hover h6{ color:#fff;}
.box1:hover button{ background:#fff; color:#000;}
.box1:hover small{ color:#fff; border-top:1px solid #fff;}
.box1:hover i{ color:#fff;}

.how-it-works{ background:#f6f9ff; padding:70px 0px; margin-top:90px; margin-bottom:70px;}
.how-it-works h1{ font-size:40px; color:#000000;}
.how-it-works h6{ font-size:20px; color:#999; font-weight:normal;}

.counter{ padding:70px 0px 0px;}
.counter h1{ font-size:40px; color:#000000;}
.counter h6{ font-size:20px; color:#999; font-weight:normal;}
.counter i{ color:#0bb758; font-size:60px; }
.Wrapper-counter i { margin:auto; display:table; font-size:60px; color:#0bb758; padding-bottom:20px; padding-top:50px; } 
.Wrapper-counter h4 , .Wrapper-counter h5{ text-align:center; padding:0px;} 
.Wrapper-counter h4{ font-size:40px; font-weight:normal; color:#0bb758;  margin-bottom: 0px;}
.centerr{ margin:auto !important;}
.count img{ margin:auto; display:table;}
ul.howwork{ padding-top:50px; padding-left:50px;}
ul.howwork li{ font-style:italic; font-size:16px; color:#000; list-style:none; line-height:40px;}
ul.howwork li span{ background:#4e4d4d; display:inline-block; margin-right:10px; width:50px; height:50px; color:#fff; text-align:center; line-height:50px; margin-bottom:40px; font-size:20px; border-radius:50px;}
.pad-T50{ padding-top:50px;}




/*
Footer css start here ..........
*/

footer{ background:#f5f3f3; border-top:5px solid #d0d0d0; margin-top:70px;}
footer h3{ font-size:20px; padding-top:40px; padding-bottom:10px;}
footer ul{ list-style:none; padding-bottom:40px;}
footer ul li{ line-height:28px;}
footer ul li a{ font-size:14px; color:#656565;}
footer ul li a:hover{ font-size:14px; text-decoration:none; color:#000;}
.social-media i{ font-size:26px; padding-right:20px; }
.social-media a.facebook{ color:#4867aa; }
.social-media a.twitter{ color:#00aced;}
.social-media a.linkedin{ color:#0274b3;}
.social-media a.google{ color:#de4a3e;}
.bottom-footer{ border-top:1px solid #e8e8e8; line-height:60px; display:flex;}
.bottom-footer .left-F{ float:left;}
.bottom-footer .right-F{ float:right; text-align:right;    line-height: 20px;
    font-size: 13px;
    font-weight: 500;
    padding-top: 9px;}

.bottom-footer .right-F a{ color:#656565;}
.bottom-footer .right-F a:hover{ text-decoration:none; color:#000;}



/*
Dashboard css start here ..........
*/


.dashboard-banner{ background:url(../images/dashboard.jpg) no-repeat center top; min-height:305px; background-size:cover; margin-top:-63px;}
.dashboard-banner .overlay{ background-color: rgba(42, 37, 57, 0.7); width:100%; min-height:305px;}
.dashboard-banner h1{ text-align:center; color:#fff; padding-top:160px; font-weight:bold;}
.dashboard-main-icons{ margin:auto; display:table;}
.dashboard-main-icons .icons-A1{ float:left; margin:0px 10px; background:#e7e7e7; padding:15px; color:#000; border-radius:4px; width:80px; height:70px; font-size:35px; line-height:40px; text-align:center;}
.dashboard-main-icons .icons-A1 a{ color:#000;}
.dashboard-main-icons .icons-A1 small{ font-size:13px; text-align:center; font-weight:500; padding-top:5px;}
.pad-1{ margin-top:80px;}
.profile-area{ background:#e7e7e7; border-radius:4px; width:100%;}
.profile-pic{ background:#0bb758; padding:20px 0px; border-radius:4px 0px 0px 4px;}
.profile-pic p{ text-align:center; color:#fff; font-weight:bold; padding-top:10px;}
.profile-text { font-size:16px; line-height:25px; color:#000; padding:20px 20px 20px 0px; position:relative;}
.profile-text button{ position:absolute; right:20px; border:2px solid #0bb758; color:#000; border-radius:4px; font-size:16px; font-weight:500; padding:8px 30px;}
.profile-text button:hover{ background:#0bb758; color:#fff; cursor:pointer;}
.profile-texts{ width:100%;}
.profile-texts h2{ color:#000; font-size:25px; padding-top:50px; text-align:center;}
.profile-texts .nav-tabs { border-bottom:0px; margin-top:50px; }
.profile-texts .nav-tabs li{ border:0px; background:#f6f6f6; font-size:15px; color:#000; margin-right:5px; border-radius:4px 4px 0px 0px;}
.profile-texts .nav-tabs li a{ color:#000; border:0px; padding:10px 20px; font-weight:500; }
.profile-texts .tab-content{ background:#f6f6f6; display:inline-block; padding:10px 10px 20px 10px; border-radius:0px 4px 4px 4px; width:100%;}
.profile-texts .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link { color: #fff; background-color: #0bb758; border:none; }
.profile-texts .nav-tabs .nav-link:hover{ color: #fff; background-color: #0bb758; border:none; }
.profile-texts select , .profile-texts input{ width:48%; float:left; margin:10px 4% 25px 0px; font-size:14px; height:50px !important;}
.marR{ margin-right:0px !important;}
.button-area{ margin:auto; display:table;}
.button-area button{ float:left; padding:10px; margin:12px 18px; width:100px; border:0px; color:#fff; font-size:15px; font-weight:500; text-align:center; border-radius:4px;}
.button-area button.cancel{ background:#303030;}
.button-area button.add{ background:#0bb758;}
.button-area button:hover{ cursor:pointer;}



/*
Add project css start here ..........
*/


.project-banner{ background:url(../images/add-project.jpg) no-repeat center top; min-height:305px; background-size:cover; margin-top:-63px;}
.project-banner .overlay{ background-color: rgba(42, 37, 57, 0.7); width:100%; min-height:305px;}
.project-banner h1{ text-align:center; color:#fff; padding-top:160px; font-weight:bold;}
.add-p{ width:100%;}
.add-p form{ width:100%;}
.add-p form button.add{ margin:auto; display:table; background:#0bb758; color:#fff; border:0px; border-radius:4px; font-weight:500; margin-top:20px; padding:12px 20px; cursor:pointer;}
.add-p input{ font-size:14px;}
.add-p input.full{}
.two-input{ margin-top:38px; display: flow-root;}
.two-input input{ width:48%; margin-right:4%; float:left; }
.two-inputs select{ width:45%; margin-right:4%; float:left; font-size:14px;}
.two-input textarea{ width:48%; margin-right:4%; resize:none; font-size:14px; float:left; height:140px;}
.two-input input.left-zero , .two-input textarea.left-zero{ margin-right:0%;}
.two-inputs{ margin-top:38px; display: flow-root;}
.two-inputs .left-in{ float:left; width:50%;}
.two-inputs .left-in input {width:45%; margin-right:6%; float:left;}
.two-inputs .left-in input.left-zero{ margin-right:0% !important; }
.left-M18{ position:relative; left:18px;}
.upload{ width:50%; float:left; margin-bottom:38px; }
.upload img{ width:100%;}
.upload input{ position:relative; top:90px; left:100px;}

.switch { position: relative; display: inline-block; width: 60px; height: 34px; }
.switch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0;   right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s; }
input:checked + .slider { background-color: #2196F3; }
input:focus + .slider { box-shadow: 0 0 1px #2196F3; }
input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }
/* Rounded sliders */
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }
.switch-Mar { display:inline-block; }
.switch-Mar input{width: 20px; left: 20px; position: relative; top: 0px;}
.switch-Mar label.switch-a{ position:relative; top: -19px;}
.chooseF{left: -82px; position: relative; top:-80px;}

.Counter_item{ flex-grow: 1;}
  
  
  