@media (max-width: 767px) {
.nav-right-side{ position:static; }
.search-area h1{ font-size:30px;}
header { position: absolute; z-index: 999; border-bottom:0px; top: 0px; background:#2b2836; }
.sign-up{ width:60px; margin-top:10px; text-align:center; margin-bottom:10px;}
.navbar-toggler{ background:#fff;}
.navbar-light .navbar-nav li.nav-item{ padding:5px 10px;}
.navbar-light .navbar-nav li.nav-item:hover{ background:#33303e;}
.how-it-works img{ width:100%;}
footer ul{ padding-bottom:0px;}
.search-area input , .search-area button.submit , .search-area .btn-primary{ width:100%; border-radius:6px; border-left:0px;}
.round{ display:none;}
.mid-area h1{ font-size:30px;}
.box1{ margin:20px 0px;}
.how-it-works h6 br , .counter h6 br{ display:none; }
.how-it-works h6 , .counter h6{ line-height: 30px;}
.bottom-footer .left-F , .bottom-footer .right-F{ float:none; text-align:left;}
.bottom-footer .right-F{ padding-top:0px; padding-bottom:20px;}
.bottom-footer{ margin-top:20px;}

}
